.login_form {
   width: 36%;
   background-color: white;
   border-radius: 10px;
}

.login_background {
   background-color: #c4d0f570;
   height: 743px;
}

.signup_form {
   width: 40%;
   background-color: white;
   border-radius: 10px;
}
